@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
/*
Fonts

font-family: "Quintessential", serif;
*/

* {
    font-family: "Quintessential", serif;
}

#nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    border: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
nav  li {
    float: left;
  }
  
nav  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.btn {
  padding: 10px 40px;
  display: center;
  position: left;
}

.head-block {
    
    height: 500px;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 5px dashed;
}

.content-block {
    
    height: 500px;
    text-align: center;
    padding: 3%;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 5px dashed;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

hr {
    margin: 20px;
    margin-left: 30%;
    margin-right: 30%;
    height:5px;
    border-width:0;
    color: #d7bcad;
    background-color:  #d7bcad;
    opacity: 1;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

/*for the dark mode or light mode themes*/
.dark-mode {
    color:#d7bcad !important;
    background-color: #452f47 ;
    border:#d7bcad;
}
.dark-mode a {
  color: #d7bcad;
}
.dark-mode .btn {
  color:#d7bcad !important;
}


.light-mode {
    color:#452f47 !important;
    border:#452f47;
    background-color: #d7bcad ;
}

.light-mode a {
  color: #452f47;
}

.light-mode .btn {
  color:#452f47 !important;
}

.wrapper {
    display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

